html {
  font-family: 'Muli', monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-color: maroon;
  overflow-x: hidden;
}

button, Link {
  font-family: 'Visuelt' !important;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

li {
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    background: #232323;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
}

h2, h3, h4, h5, h6 {
  margin-top: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 16px;
}

p { font-size: 14px; }

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: #BC0066;
}
